.map-component {
  height: 100vh;
  width: 100vw;

  @media (width > 768px) {
    height: 486px;
    width: 486px;
  }
}

.map-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.tooltip-container {
  position: absolute;
  top: 44%;
  left: 50%;
  padding-top: 100px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.location-button {
  background-color: #fff;
  color: #F16122;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.address-type {
  list-style: none;
  display: flex;
  margin: 12px 0 24px;

  >li {
    display: flex;
    align-items: center;
    font-size: 12px;
    border: 1px solid rgb(150,150,150, 0.6);
    padding: 4px 8px;
    margin: 0 8px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.home-icon {
  font-size: 20px;
}

.highlight-li {
  background-color: #F16122;
  color: #fff;
}

.leaflet-control-attribution, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  display: none !important;
}

.leaflet-bottom {
  position: absolute;
  top: 50%;
}

.tooltip-arrow::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.set-address {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 148px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  text-align: left;
  padding: 16px;
  width: 100vw;
  z-index: 1000;
  transition: height 0.3s ease;

  p {
    font-size: 15px;
    opacity: 0.9;
    margin: 8px 0;
  }

  h2 {
    font-size: 18px;
    margin: 5px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (width > 768px) {
    width: unset;
    position: absolute;
  }
}

.address-editing {
  height: 100%;

  .head {
    padding: 0;
  }
}

.address-form-group {
  position: relative;
  margin: 24px 0;
}
