.food-container {
  aspect-ratio: 1;
  max-height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4.8%;
  margin: 0 auto;
  border-radius: 32px 8px;
  transition: transform 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0;

  @media (width > 768px){
    border-radius: 48px 12px;
  }
}

.food-container:hover {
  transform: scale(1.02);
}

.food-img {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 44%;
  object-fit: cover;
  filter: drop-shadow(0px -2px 5px grey);
}

.food-info {
  margin-top: -44%;
}

.food-info > * {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.food-name-price {
  color: #222222;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 500;

  @media (width > 768px){
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.food-desc {
  color: #686b78;
  font-size: 0.9rem;
  line-height: 1.5rem;

  @media (width > 768px){
    font-size: 1rem;
  }
}

.sub-info {
  display: flex;
  justify-content: space-between;
  color: #686b78;
  padding-top: 0.24rem;
  font-size: 0.8rem;

  @media (width > 768px){
    font-size: 0.9rem;
    padding-top: 0.5rem;
  }
}

.rating-div {
  display: flex;
  align-items: center;
  gap: 4px;

  >svg {
    width: 0.72rem;
  }

  >span {
    color: #349E46;
  }

  @media (width > 768px){
    gap: 8px;

    >svg {
      width: 0.9rem;
    }
  }
}

.line {
  height: 1px;
  width: 100%;
  margin: 0.36rem 0;
  background-color: #000;
  opacity: 16%;

  @media (width > 768px){
    margin: 0.8rem 0;
  }
}
