.chefCard-container {
  aspect-ratio: auto;
  justify-content: space-around;
  flex-direction: row;
  padding: 2.4%;
  margin: 32px 16px;
  margin: 32px 16px 32px 64px;
  min-height: 9.4rem;
  max-height: 9.8rem;
  align-items: center;
  border-radius: 32px 8px 8px 32px;

  >img {
    max-width: 10.6rem;
    transform: translateX(-38%);
    position: relative;
  }

  >div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    min-width: 64%;
    margin: initial;
    margin-left: -24%;
  }

  .food-name-price {
    line-height: 1.6rem;
  }
}
