.chefCard-container {
  aspect-ratio: auto;
  flex-direction: row;
  height: unset;
  padding: 1.6%;
  margin: 32px 16px;
  margin: 32px 16px 32px 64px;
  height: 9.4rem;
  align-items: center;
  border-radius: 32px 8px 8px 32px;

  >img {
    width: 64%;
    transform: translateX(-42%);
    position: unset;
  }

  >div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 12.4rem;
    margin: unset;
    margin-left: -24%;
  }

  .food-name-price {
    line-height: 1.6rem;
  }
}
