.chefCard-container {
  aspect-ratio: auto;
  flex-direction: row;
  height: unset;
  padding: 1.6%;
  margin: 32px 16px;

  >img {
    width: 40%;
    position: unset;
  }

  >div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 12.4rem;
    margin: unset;
  }
}

.chef-info {
  padding: 0.24rem 0;
}
