.default-img {
  height: 216px;
}

.coming-soon {
  font-size: 20px;
  font-weight: 500;
  margin: 0 16px;
}

.explore-btn {
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 10px;
  margin-top: 24px;
  color: #fff;
  background-color: #f16122;
  border: none;
  cursor: pointer;
}

.orders-container {
  margin-top: -16%;

  @media (width > 768px) {
    margin-top: 16%;
  }
}

.order-item {
  font-size: 18px;
  text-align: left;
  background-color: #f2f2f2;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0;

  h3 {
    line-height: 2.4rem;
    font-size: 18px;
  }

  span {
    display: flex;
    align-items: center;
  }
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  h4 {
    max-width: 64vw;
    font-size: 16px;
  }

  p {
    text-align: right;
    color: rgb(102, 102, 102);
  }
}

.order-items h4 {
  margin-bottom: 5px;
}

.order-items ul {
  list-style: none;
  padding: 0;
}

.order-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.order-items span {
  font-size: 16px;
}
