.footer {
  display: none;
  background-color: #222222;
  color: #fff;
  padding: 0 14px;
  margin-bottom: 8px;

  @media (width > 1240px){
    padding: unset;
  }

  @media (width > 768px){
    display: block;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.6rem 0;
  gap: 16px;
}

.footer-container p {
  margin: 6px 0;
  opacity: 78%;
}

.social-container {
  display: flex;
  justify-content: space-between;
  margin: 8% 0 12%;
}

.download-img {
  display: flex;
  width: 124px;
  margin-bottom: 16px;

  @media (width > 460px){
    width: 180px;
  }
}

.company-details {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #828282;
  padding: 1.6rem 0;
}
