.help-section {
  max-width: 548px;
  margin: 4%;
}

.help-heading {
  display: flex;
  margin: 28px 0 14px;
  font-size: 18px;
  font-weight: 600;
}

.help-info {
  font-size: 16px;
  color: rgba(0,0,0,0.64);
  margin: 8px 0 16px;
}

.success-container {
  text-align: center;
  margin: 12% 0;
}

.success-img {
  width: 180px;
  height: 180px;
}

.success-msg {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
