.locateMe-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #fff;

  @media (width > 768px){
    flex-direction: row;
    gap: unset;
    overflow: hidden;
    background: unset;
  }
}

.locateMe-div {
  position: static;
  font-size: 15px;
  padding: 36px 48px 32px 72px;
  margin: 0 16px;
  background: #fff;

  @media (width > 768px){
    width: 49%;
    position: unset;
    margin: unset;
  }

  .address-input-div {
    display: flex;
    align-items: center;
    border: 1px solid rgb(214, 214, 214);
  }

  .address-input {
    font-size: 16px;
    font-weight: 600;
    padding: 18px 0 18px 18px;
  }

  .address-input::placeholder {
    color: rgba(0, 0, 0, 0.48);
  }

  .gps-location {
    font-weight: 800;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
    cursor: pointer;
    opacity: 0.78;
    white-space: nowrap;
    z-index: 1;
    margin: unset;
  }

  .list-div {
    position: relative;
    overflow-y: hidden;
  }
}

.locateMe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f16122;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  padding: 12px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.addressOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #f2f2f2;
  padding: 0 16px;
}

.locateMe-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -webkit-fill-available;
  width: 100%;
  padding: 56px 24px 56px;
  align-items: flex-end;
  color: #fff;
  background-image: url("https://www.googleapis.com/drive/v3/files/1t6J2MiSayQ5IN-F9xEpq3pyUa5oXeKiX?alt=media&key=AIzaSyBZYf7YtNbwVd-1XK6FDOitv66mfkv4tHA");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 38%;
  order: -1;

  @media (width > 768px){
    width: 51%;
    height: 100vh;
    background-position: unset;
    order: unset;
    align-items: unset;
    padding: 24px;
  }
}

.head-container {
  position: relative;
  width: 224px;
  display: flex;
  align-items: flex-start;

  @media (width > 768px){
    width: 248px;
  }
}

.content-heading {
  font-size: 18px;
  margin-bottom: 24px;

  @media (width > 768px){
    font-size: unset;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 50%;
    height: 3.2px;
    background: rgba(255, 255, 255, 0.64);
  }
}

.content-div {
  background-color: #fff;
  color: #222222;
  margin: 18px 0;
  border-radius: 18px;
  min-height: 40px;
  font-size: 14px;
  font-weight: 600;
  width: 224px;
  padding-left: 12px;
  display: flex;
  align-items: center;

  @media (width > 768px) {
    min-height: 48px;
    width: 248px;
    font-size: 16px;
    font-weight: unset;
  }

  >img {
    margin-right: 6px;
  }
}

.logo-name {
  color: rgb(241, 97, 34);
  font-size: 32px;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 800;
}

.logo-tagline {
  font-size: 20px;
  text-align: center;
  margin: 0 auto 24px;

  @media (width > 768px) {
    font-size: 36px;
    text-align: unset;
    margin: 84px 0 0;
  }
}

.logo-p {
  font-size: 26px;
  opacity: 0.78;
  margin: 16px 0 32px;
}

.explore-foods {
  background-color: #f16122;
  white-space: nowrap;
  color: #fff;
  align-items: center;
  display: flex;
  padding: 16px;
  margin-left: 16px;
  cursor: pointer;
}
