* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #222222;
  background-color: #f2f2f2;
  max-width: 100vw;
  overflow-x: hidden;
}

ul li {
  list-style: none;
  font-size: 20px;
}

textarea {
  resize: none;
}

input, textarea {
  background: none;
  color: #222222;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(150, 150, 150);
}

input:focus, textarea:focus {
  outline: none;
}

input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
}

input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.36);
}

input[type="checkbox"]:checked {
  accent-color: #349E46;
}

label {
  color: rgb(150, 150, 150);
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

hr {
  border-color: rgba(217, 217, 217, 0.16);
  width: 100%;
  margin: 2% 0;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

@media (width > 768px) {
  ::-webkit-scrollbar {
    display: block;
    width: 8px;
  }
}

/* Track */
::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f16122;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b43e0d;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: #b43e0d;
}


.material-symbols-outlined {
  font-size: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48
}

.header-container {
  display: flex;
  align-items: center;
  margin: 4.2vw 16px 0;
  max-width: 1200px;
  justify-content: space-between;

  @media (width > 768px) {
    margin: 3.2vw 14px 2.4vw;
  }

  @media (width > 1240px) {
    width: 100%;
    margin: 3.2vw auto 2.4vw;
  }
}

.cardHeader {
  color: #222222;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 1px;

  @media (width > 768px) {
    font-size: 1.6rem;
  }
}

.see-all-btn {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  background-color: #349E46;
  border: none;
  border-radius: 6px;
  height: 100%;
  cursor: pointer;

  .material-symbols-outlined {
    margin: 0 -8px 0 4px;
  }
}

.back-button-div {
  position: absolute;
  z-index: 1000;
  top: 3%;
  left: 2%;
  cursor: pointer;
}

.back-button {
  display: flex;
  border-radius: 50%;
  border: none;
  padding: 8px;
  background-color: #fff;
  position: absolute;
  z-index: 2000;
  top: 4px;
  left: 4px;
  cursor: pointer;
  border: 0.125rem solid rgb(229, 231, 236);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 4px 0px;
}

.back-button-icon {
  font-size: 16px;
}

.foodCatgor {
  display: flex;
  gap: 12px;
  margin: 0 16px;
  overflow: scroll;

  div {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 14px;
    border: 2px solid #f16122;
    border-radius: 20px;
    white-space: nowrap;
    opacity: 0.64;
  }
}

.foodCatgor::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.active-catgor {
  background-color: #f16122;
  color: #fff;
  opacity: 1 !important;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 24%;

  @media (width > 768px) {
    padding: 0 0 48px;
  }
}

.profile-head {
  display: flex;
  align-items: center;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 16px;

  span {
    margin-right: 16px;
  }
}

.checkout-container {
  @media (width > 768px) {
    background-color: #D9D9D9;
    min-height: 100vh;
  }
}

.checkout-div {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  >p {
    color: rgb(0, 0, 0, 0.64);
    margin: 8px 16px 24px;
  }

  >button {
    margin: 0;
  }
}

.empty-cart-img {
  height: 256px;
  width: 350px;
  background-image: url(https://mopin-assets.s3.ap-south-1.amazonaws.com/base+images/woman-kitchen-cooks-from-organic-products-recycling-vegetables-natural-products_98982-525__1_-removebg-preview.avif);
  background-repeat: no-repeat;
  background-size: contain;
}

.skeleton-section {
  padding: 16px;
}

.skeleton-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  margin-top: 16px;
}

.skeletion-card {
  display: flex;
  justify-content: space-between;

  .react-loading-skeleton {
    border-radius: 8px 32px;
  }
}

.skeleton-list {
  margin-top: 16px;
}

.pc-view {
  display: none !important;;

  @media (width > 768px){
    display: flex !important;
  }
}

.mob-view {
  @media (width > 768px) {
    display: none !important;
  }
}
