.pin-icon {
  color: #f16122;
}

.my-location-icon {
  margin-right: 12px;
}

.location-on-icon {
  font-size: 48px;
}

.person-icon {
  border-radius: 50%;
  font-size: 22px;
  background: #d9d9d9;
  padding: 6.4px;
  margin: 0 !important;
}

.page-info-icon {
  color: #fff;
  background-color: #f16122;
  border-radius: 8px;
  padding: 8px;
}

.search-icon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.64);
  margin-right: -8px;
  padding: 6px 12px;
  cursor: pointer;
}
