.person-icon {
  border-radius: 50%;
  font-size: 2.8em !important;
  background: #d9d9d9;
  padding: 6.4px;
}

.search-icon {
  font-size: 3em !important;
  color: rgba(0, 0, 0, 0.64);
  margin-right: -8px;
  padding: 6px 12px;
  cursor: pointer;
}
