.hero-bigScreen-div {
  display: none;
  color: #fff;
  min-height: calc(100vh - 80px);
  padding: 1.6rem 14px;
  align-items: center;
  background-color: #222222;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 44rem;
  background-position: 52vw 20px;

  @media (width > 768px){
    display: flex;
  }

  @media (width > 1240px){
    background-image: url(https://mopin-assets.s3.ap-south-1.amazonaws.com/base+images/Component+1.avif);
    }
}

.hero-bigScreen {
  background-image: url(https://mopin-assets.s3.ap-south-1.amazonaws.com/base+images/Group+95.avif);
  background-repeat: no-repeat;
  background-position: -6vw -5vw;
  background-size: 40vw;
  max-width: 1200px;

  @media (width > 768px){
    margin: 0 auto;
  }
}

.hero-smallScreen-div {
  margin: 32px 16px 16px;
}

.hero-smallScreen {
  width: 100%;
}

.hero-tag {
  font-family: "Poppins";
  line-height: 4.6rem;
  font-size: 56px;
  letter-spacing: -1.28px;
  width: 100%;
  font-weight: 500;

  >span {
    color: "#F16122";
    font-family: "Poppins"
  }

  @media (width > 1240px){
    width: 56%;
  }
}

.hero-desc {
  opacity: 70%;
  font-size: 20px;
  margin: 30px 0 60px 0;
  width: 100%;
  line-height: 2rem;

  @media (width > 1240px){
    width: 51%;
  }
}

.hero-btn {
  color: #fff;
  background-color: #F16122;
  font-size: 1.6rem;
  padding: 16px 32px;
  border-radius: 28px;
  border: 1.4px;
  cursor: pointer;
}

.ghost-btn {
  background-color: #222222;
  border: 1.4px solid #F16122;
  margin-left: 1.6rem;
}
