.search-section {
  position: absolute;
  top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  width: 100%;

  input {
    border: none;
    flex: 1;
    padding: 4px;
  }

  @media (width > 768px){
    position: relative;
    padding: 0 16px;
    align-items: center;
  }
}

.search-container, .search-results {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin-bottom: 16px;
}

.search-container {
  position: fixed;
  background-color: #fff;
  padding: 24px 0;
  z-index: 400;
  -webkit-box-shadow: 0 1px 0.8px #e9e9eb;

  .search-link {
    margin-left: 16px;
  }

  .page-info-icon {
    margin-right: 16px;
  }

  @media (width > 768px){
    position: unset;
    background-color: #f2f2f2;
  }
}

.search-results {
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  margin-top: 100px;
  padding-bottom: 8rem;
  width: -webkit-fill-available;
  height: -webkit-fill-available;

  @media (width > 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 50%;
    gap: 16px;
    padding: 12px;
  }
}

.search-results::-webkit-scrollbar {
  display: none;
}

.search-link {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 18px;
  padding: 8px;
  width: 100%;
  height: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid rgb(239, 239, 239);
  margin-right: 16px;
}

.result-item {
  margin: 12px 0;
  box-shadow: 0 5px 15px 0 #00000026;
  border-radius: 24px;
  padding: 22px 16px 8px;

  .meal-time {
    display: none;
  }

  @media (width > 768px) {
    width: calc(50% - 10px);
  }
}

.homecook-info {
  display: flex;
  opacity: 0.88;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 1rem;
    color: rgba(0,0,0,0.74);
  }

  .sub-info-mobile {
    padding: 0;
    justify-content: space-between;
    max-width: fit-content;
    gap: 8px;
    color: rgba(0,0,0,0.64);
    font-size: 1rem;
  }

  .rating-svg {
    gap: 8px;
  }
}

.to-homechef {
  font-size: 24px;
  color: rgba(0,0,0,0.64);
}

.dish-time {
  display: flex;
  justify-content: space-between;

  h2 {
    font-size: 16px;
    line-height: 2.8rem;
    color: rgba(0, 0, 0, 0.72);
  }
}

.loading-skeleton {
  margin: 8rem auto 0;

  div {
    margin: 16px 0;
  }
}
